@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Roboto", serif;
}

.container .mode {
    display: flex;
    justify-content: space-between;
    margin: 20px 40px;
}

.container .content {
    margin: 20px 40px;
}

.content h2, p, img {
    margin-top: 10px;
}

.mode button {
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    width: 70px;
}


/* Dark Mode */
.dark-mode {
    background-color: #000000;
    color: #fff;
}